.loading-screen {
  position: fixed;
  inset: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500; 
}

.logo {
  width: 120px;
  height: auto;
  animation: fadeIn 1.2s ease-in-out;
}

.loading-count {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 10rem;
  font-weight: 100;
  color: #feffff;
  animation: fadeIn 1s ease-in-out;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 480px) {
  .loading-count{
    font-size: 12rem;
  }
  
}

@media (min-width: 768px) {
  .loading-count{
    font-size: 15rem;
  }
  
}

@media (min-width: 1024px) {
  .loading-count{
    font-size: 20rem;
  }
  
}
